<!-- Header -->
<header id="header" class="alt">
    <nav id="nav">
        <ul>
            <li class="submenu">
                <a href="#">Menu</a>
                <ul>
                    <li><a href="@pathto(/)">Home</a></li>
                    @//<li><a href="@pathto(join/)">Join</a></li>
                    <li><a href="@pathto(about/)">About</a></li>
                    <li><a href="@pathto(events/)">Events</a></li>
                    @/*<li class="submenu">
                        <a href="@pathto(events/)">Events</a>
                        <ul>
                            <li><a href="@pathto(archery/)">Archery</a></li>
                        </ul>
                    </li>*/
                    @//<li><a href="no-sidebar.html">No Sidebar</a></li>
                    <li><a href="@pathto(contact/)">Contact</a></li>
                    @/*<li class="submenu">
                        <a href="#">Submenu</a>
                        <ul>
                            <li><a href="#">Dolore Sed</a></li>
                            <li><a href="#">Consequat</a></li>
                            <li><a href="#">Lorem Magna</a></li>
                            <li><a href="#">Sed Magna</a></li>
                            <li><a href="#">Ipsum Nisl</a></li>
                        </ul>
                    </li>*/
                </ul>
            </li>
            @//<li><a href="#" class="button primary">Sign Up</a></li>
        </ul>
    </nav>
</header>